# Copy this file to .env.local for local development
# Add these as Environment Variables in your Vercel project dashboard

AIRTABLE_TOKEN=patDhRnBdlEYQRueR.d3bfeb69ca20790e0318716d62a8726cc6c2478f718de1f0f962defda0239136
AIRTABLE_BASE=appRztgdLFBeyPoZk
AIRTABLE_TABLE=Signups
